<%- include('partials/header') %>
<div class="card mx-auto mt-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Total amount</h5>
    <p class="card-text">
      The total postage amount to pay is: 
      <span class="badge badge-pill badge-info">
        $ <%= postage %>
      </span>
    </p>
    <a href="/" class="card-link">Go Back</a>
  </div>
</div>
<%- include('partials/footer') %>